.products-container {
    width: 100%;
    color: #fff;
}

.products-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.4%;
    padding-bottom: 4.8%;
    background-color: #fff;
}

.text-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #252020;
    margin-bottom: 1.4%;
    text-align: center;
}

.text-subtitle {
    width: 50%;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000;
}

.filter-bar {
    background-color: #fff;
    margin-left: 6.6%;
    margin-right: 6.6%;
    padding-top: 2.25%;
    padding-bottom: 2.05%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.filter-info {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.7%;
}

.item-count {
    width: 55%;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #252020;
    letter-spacing: 0.1px;
}

.hide-filter {
    color: #888792;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hide-filter i {
    margin-right: 12px;
}

.hide-filter span {
    width: 100%;
    padding-bottom: 2px;
}

.filter-dropdown-container {
    position: relative;
}

.recommended {
    color: #252020;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.recommended-text-filter{
    display: none;
}

.recommended-text {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    text-transform: uppercase;
}

.dropdown-menu {
    position: absolute;
    width: 255px;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px 0px;
}

.dropdown-item {
    padding: 20px;
    padding-right: 35px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    text-align: end;
}

.dropdown-item.selected {
    font-weight: bold;
}

.check-icon {
    margin-right: 8px;
    color: #000;
}

.customizable-section {
    display: flex;
    flex-direction: row;
    padding-top: 2.1%;
    margin-left: 6.4%;
    margin-right: 6%;
    position: relative;
}

.customizable-filter {
    width: 32.8%;
    margin-right: 1%;
}

.customizable-title {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #252020;
    margin-left: 1.5%;
}

.customizable-box {
    padding-bottom: 6.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customizable-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 0;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 1.5%;
    padding-top: 7%;
    padding-bottom: 8%;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.filter-options-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
    cursor: pointer;
}

.filter-options-header-text {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #252020;
}

.filter-options-dropdown {
    color: #252020;
    font-size: 14px;
}

.filter-options-value {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #252020;
}

.filter-options-content {
    margin-top: 10px;
}

.filter-options-link {
    margin-bottom: 8px;
    text-decoration: underline;
}

.filter-options-link.enabled {
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.filter-options-link.disabled {
    color: #BFC8CD;
    cursor: not-allowed;
}

.filter-options-checkboxes {
    display: flex;
    flex-direction: column;
}

.filter-options-checkboxes label {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.filter-options-checkbox {
    width: 19px;
    height: 19px;
    border-radius: 0px;
    margin-right: 10px;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
}

.product-item {
    width: 310px;
    margin-bottom: 1.7%;
}

.product-image {
    width: 100%;
    height: 56.3vh;
    background-color: #000;
}

.product-image img {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.product-info {
    width: 100%;
    margin-top: 4%;
}

.product-title {
    width: 80%;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #252020;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 1%;
}

.product-price {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14.7px;
    color: #888792;
    margin-top: 1.8%;
}

.product-heart {
    color: #252020;
    font-size: 24px;
}


@media (max-width: 768px) {

    .products-header {
        background-color: transparent;
        padding: 0%;
    }

    .text-title {
        font-size: 22.5px;
        font-weight: 500;
        margin-bottom: 4.5%;
    }

    .text-subtitle {
        width: 95%;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: normal;
    }

    .filter-info {
        display: none;
    }

    .filter-bar {
        margin: 0%;
        margin-top: 4.3%;
        background-color: transparent;
    }

    .filter-dropdown-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .recommended {
        width: 100%;
        margin-right: 0px;
        padding: 0px;
        justify-content: center;
    }

    .recommended-text {
        font-size: 14px;
    }

    .recommended-text-filter {
        display: flex;
        border-radius: 0px;
    }

    .straitline {
        width: 1.5px;
        height: 3.5vh;
        background-color: #E5E5E5;
    }

    .customizable-filter {
        display: none;
    }

    .product-item {
        width: 165px;
    }

    .product-image {
        width: 100%;
        height: 35vh;
        background-color: #000;
    }

    .product-list {
        justify-content: space-between;
    }

    .customizable-section {
        justify-content: space-between;
        padding-top: 4.5%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    .product-title {
        padding-top: 1px;
        padding-left: 1px;
        font-size: small;
    }

    .product-price {
        font-size: x-small;
        font-weight: 500;
    }

    .product-heart {
        margin-top: -10%;
        font-size: medium;
        color: #494949;
    }

}

@media (max-width: 370px) {

    .product-item {
        width: 140px;
    }

    .product-image {
        width: 100%;
        height: 30vh;
        background-color: #000;
    }
}
